<div class="navbar-spirits">
  <!-- Logo -->
  <a class="navbar-spirits-brand" href="/blog">
    <img src="/assets/logo.png" alt="">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-spirits-right navbar-spirits-item navbar-spirits-link">
    <a class="navbar-spirits-item navbar-spirits-link" href="/">Retour au site</a>
    <a class="navbar-spirits-item navbar-spirits-button btn" data-toggle="modal" data-target="#myModal" href="#" role="button">s'abonner</a>
  </div>

  <!-- Dropdown list appearing on mobile only -->
</div>
