body {
  padding-top: 60px;
}

.page-content {
  text-align: center;
  line-height: 2;
  h1 {
  font-family: $header-font;
  font-weight: 800;
  }
  p{
  font-family: $base-font;
  }
  .prgrph {
    padding: $padding;
    width: 100%;
    p{
    text-align: justify;
    }
  }
  .redonwhite {
    color: $spirit;
    background-color: white;
  }
  .whiteonred {
    color: white;
    background-color: $spirit;
  }
  .darkonwhite {
    color: $coal;
    background-color: white;
  }
}

.padded {
  padding: 60px 30px;
}
