#blog-home {
 h1{
  padding: 30px;
  text-align: center;
  }
}

#post {
  font-family: $blog-font;
  font-weight: 300;
  line-height: 1.9em;
  font-size: 16px;
  img{
    text-align: center;
    width: 100%;
    max-height: 500px;
  }
}
