#concept-header {
  padding: 30px;
  color: white;
  background-color: $spirit;
    h1 {
  font-family: $header-font;
  }
}

#video {
  object-fit: contain;
  display: flex;
  justify-content: space-around;
  #video-object {
    border: solid 5px $gold;
    border-radius: 5px;
    box-shadow: 3px 3px 20px rgba($coal, 0.4);
  }
}
