#concept-header {
  padding: 30px;
  color: $spirit;
}

#video {
  object-fit: contain;
  display: flex;
  justify-content: space-around;
  #video-object {
    border: solid 5px $coal;
    border-radius: 5px;
    box-shadow: 3px 3px 20px rgba($coal, 0.4);
  }
}
