/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
body {
  margin: 0;
}

 p{
  font-weight: 300;
  }

.wrapper-grey {
  background: #F4F4F4;
}

#myModal{
}
