<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>

   <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/assets/application.css" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">


   <!-- Homepage CSS
   <link rel="stylesheet" href="/blog/css/screen.css" type="text/css" media="screen, projection" />
-->
</head>
<body>
  <header>
      {% include nav.html %}
  </header>

  {{ content }}

<footer>
  {% include footer.html %}
</footer>

<!-- Google Analytics -->

<!-- Google Analytics end -->

</body>
</html>
