 <div id="footer">
      <ul class="list-inline">
        <li><a href="https://www.youtube.com/channel/UCJUhnB3ZYGTxnFEsU34SO3g"><i class="fa fa-youtube"></i></a></li>
        <li><a href="https://www.instagram.com/spirits_trip/"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://www.facebook.com/spiritstrip/"><i class="fa fa-facebook"></i></a></li>
      </ul>
      <p>Grâce à Spirit's trip apprenez à savourer le meilleur du whisky entre amis</p>
    </div>
