<div id="footer">
  <ul class="list-inline">
    <li>
      <%= link_to "https://www.youtube.com/channel/UCJUhnB3ZYGTxnFEsU34SO3g", target: :_blank do %>
     <i class="fa fa-youtube"></i>
    <% end %>
    </li>
    <li>
      <%= link_to "https://www.instagram.com/spirits_trip/", target: :_blank do %>
      <i class="fa fa-instagram"></i>
    <% end %>
    </li>
    <li>
      <%= link_to "https://www.facebook.com/spiritstrip/", target: :_blank do %>
      <i class="fa fa-facebook"></i>
    <% end %>
    </li>
  </ul>
  <p>Grâce à Spirit's trip apprenez à savourer le meilleur du whisky entre amis</p>
</div>





