<div id="footer">
  <div>
    <ul class="list-inline">
      <li>
        <%= link_to "https://www.youtube.com/channel/UCJUhnB3ZYGTxnFEsU34SO3g", target: :_blank do %>
       <i class="fa fa-youtube"></i>
      <% end %>
      </li>
      <li>
        <%= link_to "https://www.instagram.com/spirits_trip/", target: :_blank do %>
        <i class="fa fa-instagram"></i>
      <% end %>
      </li>
      <li>
        <%= link_to "https://www.facebook.com/spiritstrip/", target: :_blank do %>
        <i class="fa fa-facebook"></i>
      <% end %>
      </li>
    </ul>
    <p>Avec Spirit's trip savourez les meilleurs whiskies entre amis</p>
  </div>
  <div>
    <p>Contact :</p>
    <script type=text/javascript> var prenum = "06 71 62" ; var sunum = " 41 26" ; document.write('<p>' + prenum + sunum + '</p>') ;
    </script>
    <script type=text/javascript> var name = "tasting" ; var domain = "spiritstrip.com" ; var subject = "subject=Bonjour l'ami" ; document.write('<a href="mailto:' + name + '@' + domain + '?' + subject + '">') ; document.write(name + '@' + domain + '</a>') ;
    </script>
  </div>
</div>





