    <div class="wrapper red-zone">
      <div class="text-center" id="newsletter">
        <h2>Restons en contact</h2>
        <p>
          Nous sommes à l’heure actuelle en Écosse dans le but de dénicher quelques pépites à vous faire partager. Pour vivre avec nous la suite de l’aventure et être sur de ne pas rater la sortie de nos futurs coffrets, laissez nous ci-contre vos coordonnées !
        </p>
        <form action="//facebook.us15.list-manage.com/subscribe/post?u=840245fab053d98e5fd3d3c74&amp;id=<%= ENV['MAILCHIMP_LIST_ID'] %>" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder=" Votre adresse email" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_840245fab053d98e5fd3d3c74_e4f8583d10" tabindex="-1" value="">
          </div>
          <input type="submit" value="Souscrire" name="subscribe" id="mc-embedded-subscribe" class="button btn-bordered-gold">
        </form>
        <p>P.S. On ne vous harcèlera pas, promis, juré, craché !</p>
      </div>
    </div>
