<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h2 class="text-center">Récapitulatif de commande</h2>
      <ul>
        <li>Statut: <%= @order.state %></li>
        <li>Référence produit: <%= @order.product_sku %></li>
        <li>Montant: <%= humanized_money_with_symbol(@order.amount) %></li>
      <ul>
    </div>
  </div>
</div>
