<div class="concept-bg">
  <div class="container concept">
    <h2 class ="text-center">NOS VALEURS</h2>
    <div class="row">
      <div class="col-xs-12 col-md-5" id="concept-header">
        <h1>Découverte</h1>
        <h1>Partage</h1>
        <h1>Convivialté</h1>
        <h4>Tels sont les valeurs que nous partageons au sein de la communauté Spirit's Trip, autour d'une passion commune : les spiritueux !</h4>
      </div>

      <div class="col-xs-12 col-md-7" id="video">
        <iframe id="video-object" width="560" height="315" src="https://www.youtube.com/embed/TjhQuOzKcnQ" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="text">
    <h1> NOTRE HISTOIRE </h1>
      <p>
        Les Connaisseurs c’est l’histoire de deux copains de longue date, alors pas très connaisseurs mais (très) bons vivants.
Au fur et à mesure que les années passent ils délaissent petit à petit leurs mauvais Blend-coca et Gin-to pour des produits plus haut de gamme. Instantanément le charmes opère et nos deux compagnons comprennent rapidement qu’ils profiteront d’autant plus de leurs apéritifs ou digestifs en s’initiant. Pas grand-chose sur le marché excepté les classiques mais non sans moins conviviales dégustations de cavistes. 
Nous en avons alors enchaîné quelques-unes et grâce à ça appris les bases. Mais les informations perçues étaient un peu redondantes et notre porte-monnaie a rapidement fait la tronche… 
Nous avons alors beaucoup lu. Des livres et des articles en tout genre sur les différents processus de fabrication et l’art de la dégustation entre autres. Une foultitude de connaissances accumulées grâces à ces papiers d’experts, mais quelque chose nous manquait, nous avions envie de voir, de goûter, de toucher, de vivre pleinement notre expérience quoi !

Est alors arrivé l’idée de Spirit’s Trip, un projet préalable aux Connaisseurs. Un voyage au cœur de l’Écosse, pays du whisky, à travers 52 (51 faisait trop Pastis) distilleries afin d’apprendre au plus proche de la source. Une expérience hors du commun qui nous a permis non seulement de découvrir les distilleries et leurs produits, mais également leur façon de voir les choses, de lire l’avenir tout en se faisant un carnet d’adresse utile pour la suite.

Une fois rentré, des images et des saveurs plein la tête (les finales ne sont pas encore assez longues), il était temps de palier, enfin, au manque que nous avions rencontré lors de notre première approche avec l’initiation aux spiritueux. C’est ainsi que Les Connaisseurs ont vu le jour.
      </p>
    <h1> NOS VALEURS </h1>
      <p>
        Elles sont aux plus proches de ce qu’on a reçu tout au long de notre chemin de vie (et qu’on a tant bien que mal essayé de conserver…). 

Curieuses. Soucieux de vous proposer le meilleur, nous discutons sans compter avec les autres professionnels du secteur. Nous sommes toujours à la recherche de la dernière pépite à vous faire découvrir ou de cette bouteille trop longtemps négligée mais qui peut tellement apporter.


Conviviales et de partages. On ne va pas se mentir, l’alcool ça rapproche. Un peu trop parfois, nous tenterons donc de rester modérés. Mais ce dont nous avions envie en créant Les Connaisseurs, c’est d’une communauté regroupée autour de ces valeurs communes dans le but de découvrir et de s’initier ensemble. Car sachez-le, même le plus grand des Connaisseurs ne cessera jamais de s’initier et pourra toujours apprendre du plus petit.
C’est pour cela que nous avons vu les choses en grand. Pas d’échantillons à boire seul dans son coin pour se « faire le palais » mais des bouteilles à partager entre amis (ou ennemis, on ne vous interdira jamais de boire avec qui que ce soit !). Pour cela, nous intégrons à notre coffret des idées de recettes simples et rapides pour préparer des apéros autours desquels vous pourrez parler du Spirit du mois, comparer vos avis et vous faire définitivement une idée construite, en plus de passer un bon moment.


Respectueuses des autres et des produits.
Nous ne touchons pas aux produits. Ces derniers sont embouteillés directement chez le producteur ou chez leur embouteilleur partenaire. Ils voyagent dans les meilleures conditions pour arriver au plus près de chez vous tout en respectant la nature grâce à des emballages écologique. En effet, nous avons préféré vous en mettre plein les yeux avec les produits proposés plutôt qu’avec le packaging. C’est notre choix… 
Il en va de même pour les documents qui accompagnent le coffret. Pas de papier « gâché ». Vous recevrez tout ce qu’il y a à savoir chaque mois par mail ou sur l’application à venir.
En bref, nous vous proposons le meilleur tout en prenant soin de la nature qui nous entoure et qui nous permet profiter pleinement de ce qu’elle nous offre.
      </p>
      <h1> NOTRE COMMUNAUTÉ </h1>
      <p>
        Le Web ça a bon mais ça ne remplace pas le contact humain, pilier de notre projet.
Aussi nous espérons échanger un maximum avec chacun d’entre vous et qu’il en soit de même entre chacun d’entre vous. Pour cela les réseau sociaux se feront le relais d’une communauté à la fois réelle et virtuelle. Proposez-nous des sujets à explorer, des photos à partager, nous ne manquerons pas de les publier.
Pour favoriser les rencontres, les vraies, nous organiserons le plus souvent possible des dégustations. Ces évènements seront un lieu d’échange à la fois privé et professionnel ou les membre de la communauté auront le plaisir de se rencontrer.
Nous vous proposons de faire vivre ce projet avec nous, si vous êtes emballé n’hésitez pas, foncez, rejoignez-nous !
      </p>
    </div>
  </div>
</div>



  <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false">
  </script>

  <script type="text/javascript">
    require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us15.list-manage.com","uuid":"840245fab053d98e5fd3d3c74","lid":"e4f8583d10"}) })
  </script>
