<div class="concept-bg">
  <div class="container concept">
    <div class="row">
      <div class="col-xs-12 col-md-5" id="concept-header">
        <h1>Découverte</h1>
        <h1>Convivialté</h1>
        <h1>Saveur</h1>
        <h4>Tels sont les valeurs que Spirit's Trip a choisit pour vous apprendre à savourer un bon whisky, whiskey, scotch, bourbon, etc bref vous avez compris. </h4>
      </div>

      <div class="col-xs-12 col-md-7" id="video">
        <iframe id="video-object" width="560" height="315" src="https://www.youtube.com/embed/TjhQuOzKcnQ" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="text">
    <h1> Je serais expert en bon whisky </h1>
      <p>
        Notre volonté est de vous apporter des outils pertinent et riche en contenu pour vous faire voyager à chaque fois que vous trempez vos levres dans un délicieux nectare spiritueux. Vous pouvez choisir entre les différents abonnements ou entre des dégustation à domicile entre amis ou en entreprise entre collègues.
      </p>
    <h1> Le concept autour des whiskies? </h1>
      <p>
        Les bons whisky comme les bons vins méritent d'être savourés, partagés et connus comme les bons vins. Les français sont les premiers consomateurs au monde en quantité de whisky, devenons le aussi en qualité!.
      </p>
      <h1> Comment en arriver là? </h1>
      <p>
        Un jour j'ai posé mon verre de Whisky à mélanger et j'ai décidé de gouter un whisky qui était situé un peu plus haut sur l'étagère. J'ai été surpris pas le bouquet de saveurs. Petit à petit j'ai compris la différence entre un whisky, un whisky, un scotch et un bourbon. Puis j'ai découvert les notes tourbés. J'en voulais de plus en plus alos je me suis tourné vers les bars du quartiers et les caves. Plus je voulais aller loin et étoffer ma culture en bon whisky plus je me suis rendu compte que malgré la quantité importé, il y a encore des progres à faire sur la qualité que nous buvons.
      </p>
    </div>
  </div>
</div>



  <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false">
  </script>

  <script type="text/javascript">
    require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us15.list-manage.com","uuid":"840245fab053d98e5fd3d3c74","lid":"e4f8583d10"}) })
  </script>
