    <!-- Your banner code -->
  <div class="banner" style="background: linear-gradient(-225deg, rgba(56,59,61,0.6) 0%, rgba(150,60,62,0.6) 75%), url('https://source.unsplash.com/category/nature/1600x900');">
    <div class="banner-content text-center">
      <h1>Découvrez chaque mois un whisky à partager</h1>
      <div id="banner-btns">
        <a class="btn" data-toggle="modal" data-target="#myModal" href="#" role="button">s'abonner</a>
        <a class="btn" data-toggle="modal" data-target="#myModal" href="#" role="button">offrir</a>
      </div>
    </div>
  </div>

    <!-- Your features code -->
  <div class="wrapper">
    <div class="container text-center padded features">
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <img src="http://res.cloudinary.com/dflt5cwj2/image/upload/v1487408722/icones-globe-decouverte_xlf2ga.png" alt="">
          <h2>Découvrir</h2>
          <p>Recevez chaque mois 35cl de whisky sélectionnés par nos soins</p>
        </div>
        <div class="col-xs-12 col-sm-3">
          <img src="http://res.cloudinary.com/dflt5cwj2/image/upload/v1487408722/icone-school-apprendre_lsqbur.png" alt="">
          <h2>Apprendre</h2>
          <p>"Spirit's Time" toutes les news sur les spiritueux et le monde qui les entours</p>
        </div>
        <div class="col-xs-12 col-sm-3">
          <img src="http://res.cloudinary.com/dflt5cwj2/image/upload/v1487408722/icone-friends-partager_tzrtm2.png" alt="">
          <h2>Partager</h2>
          <p>Transmettez à vos ami(e)s les connaissances accumulées autour d'un verre</p>
        </div>
        <div class="col-xs-12 col-sm-3">
          <img src="http://res.cloudinary.com/dflt5cwj2/image/upload/v1487408722/icone-shop-acheter_hfyemx.png" alt="">
          <h2>Acheter</h2>
          <p>Rachetez vos coups de coeur pour vous constituer la cave qui vous convient</p>
        </div>
      </div>
    </div>
  </div>
    <!-- Your cards code -->
  <div class="wrapper-grey padded">
    <h2 class ="text-center">Abonnés et heureux</h2>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <figure class="snip1390">
            <img src="http://res.cloudinary.com/dflt5cwj2/image/upload/c_crop,g_face,h_250,w_250/v1489696133/lauriane_ztx1n8.jpg"  alt="profile-sample5" class="profile" />
            <figcaption>
              <h4>Lauriane</h4>
              <blockquote>Je suis une grande fan de whisky. J'ai offert un abonnement à mon copain qui est également amateur, nous en profitons un max ! Nos amis aussi ;)</blockquote>
            </figcaption>
          </figure>
        </div>
        <div class="col-xs-12 col-sm-4">
          <figure class="snip1390 hover"><img src="http://res.cloudinary.com/dflt5cwj2/image/upload/c_crop,g_face,w_250/v1489695613/victor_y1wtfz.jpg" alt="profile-sample5" class="profile" />
            <figcaption>
              <h4>Victor</h4>
              <blockquote>Ça faisait un moment que j'avais envie de m'initier aux spiritueux, je pense avoir trouvé le bon système. Au top !</blockquote>
            </figcaption>
          </figure>
        </div>
        <div class="col-xs-12 col-sm-4">
          <figure class="snip1390"><img src="http://res.cloudinary.com/dflt5cwj2/image/upload/c_crop,g_face,h_250,w_250/v1489696483/mat_mmtxmw.jpg" alt="profile-sample6" class="profile" />
            <figcaption>
              <h4>Mathieu</h4>
              <blockquote>
                Un grand merci à Spirit's Trip pour cette belle dégustation de Whisky. Un moment convivial durant lequel nous avons pu goûter des produits de qualité, mention spéciale à Alexandre qui a su éclairer nos lacunes avec patience et pédagogie... Un 10/10 !
              </blockquote>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>

    <!-- blog articles -->

    <div class="wrapper padded">
      <h2 class ="text-center">Les derniers articles de blog</h2>
      <div class="container">
        <div class="col-xs-12 col-sm-6">
          <div class="blog-card" style="background: linear-gradient(rgba(56,59,61,0.7), rgba(56,59,61,0.7)), url('https://source.unsplash.com/category/buildings');">
              <ul class="list-inline blog-card-tag">
                <li><a href="">whisky</a></li>
                <li><a href="">apprenstissage</a></li>
                <li><a href="">whiskypedia</a></li>
              </ul>
              <div class="blog-card-title">
                <h2>Comment lire l'étiquette d'un whisky et en comprendre les moindres détails</h2>
                <p>Par <a href="https://www.facebook.com/spiritstrip/">Spirit's Trip</a> le 12 février 2017</p>
                <div class="blog-read-btn">
                  <a href="" >Lire</a>
                </div>
              </div>
              <a class="card-link" href="#" ></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="blog-card" style="background: linear-gradient(rgba(56,59,61,0.7), rgba(56,59,61,0.7)), url('https://source.unsplash.com/category/nature');">
              <ul class="list-inline blog-card-tag">
                <li><a href="test">whisky</a></li>
                <li><a href="test">astuce</a></li>
                <li><a href="test">whiskypedia</a></li>
              </ul>
              <div class="blog-card-title">
                <h2>Comment vous faire passer pour un fin connaisseur de malt</h2>
                <p>Par <a href="https://www.facebook.com/spiritstrip/">Spirit's Trip</a> le 12 février 2017</p>
                <div class="blog-read-btn">
                  <a href="test" >Lire</a>
                </div>
              </div>
              <a class="card-link" href="#" ></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="blog-card" style="background: linear-gradient(rgba(56,59,61,0.7), rgba(56,59,61,0.7)), url('https://source.unsplash.com/category/nature');">
              <ul class="list-inline blog-card-tag">
                <li><a href="test">Gin</a></li>
                <li><a href="test">anecdotes</a></li>
                <li><a href="test">insolite</a></li>
              </ul>
              <div class="blog-card-title">
                <h2>Quelques anecdotes surprenantes sur le Gin</h2>
                <p>Par <a href="https://www.facebook.com/spiritstrip/">Spirit's Trip</a> le 12 février 2017</p>
                <div class="blog-read-btn">
                  <a href="test" >Lire</a>
                </div>
              </div>
              <a class="card-link" href="#" ></a>
          </div>
        </div>
      </div>
    </div>
