<h1 class ="text-center">Et si vous offriez à Papa un whisky qui lui ressemble (ou pas) ?</h1>
<div class="container">
  <div class="row">
    <%=  @products.each do |p| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h2>
          <%= @product.title %>
        </h2>
      </div>
    <%= end %>
  </div>
</div>
