  <div class="tasting">
    <div class="banner-content text-center">
      <h1>DÉCOUVREZ LE WHISKY ENTRE AMIS</h1>
      <h2>Contactez-nous pour organiser une dégustation</h2>
        <script type=text/javascript> var prenum = "06 71 62" ; var sunum = " 41 26" ; document.write('<h2>' + prenum + sunum) ; var name = "tasting" ; var domain = "spiritstrip.com" ; var subject = "subject=Demande de dégustation" ; document.write(' ou <a href="mailto:' + name + '@' + domain + '?' + subject + '">') ; document.write(name + '@' + domain + '</a></h2>') ;
        </script>
    </div>
  </div>
