

    <div class="team wrapper-grey">
      <h2 class ="text-center">La belle équipe</h2>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <figure class="player">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample3.jpg" alt="profile-sample3" class="profile" />
              <figcaption>
                <h4>Alexandre Cavalié</h4>
                <p>Founder</p>
                <blockquote>Un super cadeau pour son anniv, il est tellement stylé quand il boit du whisky :) pour un peu d'inspi </blockquote>
              </figcaption>
            </figure>
          </div>
          <div class="col-xs-12 col-sm-6">
            <figure class="player"><img src="http://res.cloudinary.com/dflt5cwj2/image/upload/c_crop,g_face,h_1500,w_1500/v1489678925/BOSSE_Hugo_HLS0377-originale_1_f5slop.jpg" alt="profile-sample5" class="profile" />
              <figcaption>
                <h4>Hugo Bosse</h4>
                <p>Co-founder</p>
                <blockquote>
                  Amateur en voie de devnir un expert comme les clients qu'il recherche.
                </blockquote>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
