

    <div class="team wrapper-grey">
      <h2 class ="text-center">La fine équipe</h2>
      <div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <figure class="player">
            <%= image_tag "alexandre_cavalie.png", class: "profile", alt: "Portrait Alexandre Cavalié expert en dégustation de whisky" %>
              <figcaption>
                <h4>Alexandre</h4>
                <p>Co-founder</p>
                <blockquote>
                  Alexandre est un passionné de sport (rugby, pelote basque, tennis) et de whisky. L’un permettant d’« éliminer » l’autre, ces deux passions sont finalement plus que compatibles. A condition de les pratiquer séparément, bien entendu.<br>De 2013 à 2016 il travaille chez Grant Thornton, cabinet d’audit et de conseil. L’idée de l’entrepreneuriat lui trotte dans la tête depuis un petit moment. Pendant sa dernière année, il décide en parallèle d’organiser des soirées dégustation afin de pouvoir faire découvrir sa passion.
                  Avide de challenges il monte en 2017 Spirit's Trip. Une aventure humaine qui démarre par trois mois en Écosse, pays du whisky dans le but d’approfondir un maximum ses connaissances et son réseau.
                </blockquote>
              </figcaption>
            </figure>
          </div>
          <div class="col-xs-12 col-sm-6">
            <figure class="player"><img src="http://res.cloudinary.com/dflt5cwj2/image/upload/c_crop,g_face,h_1500,w_1500/v1489678925/BOSSE_Hugo_HLS0377-originale_1_f5slop.jpg" alt="Portrait Hugo Bosse expert en dégustation de whisky" class="profile" />
              <figcaption>
                <h4>Hugo</h4>
                <p>Co-founder</p>
                <blockquote>
                  Hugo est un entrepreneur né. Dès ses premières années d'études il crée un site de e-commerce dans l'import de casquettes. Ce touche à tout a notamment contribué au product-market fit et au lancement de la startup whoog ainsi qu'à la montée en flèche de la venture de Rocket Internet : Foodora, startup spécialisée dans la livraison de plat à domicile.<br>Coté sports il prèfère la mer (voile, kitesurf, plongée) et les aventures : en 2015 il traverse l’atlantique en voilier puis revient en France pour faire l'assencion du Mt Blanc. <br> Son amour de la France, de ses digestifs et de sa gastronomie le fera rester sur ses terres afin de développer plusieurs projets de longue date dont Spirit’s Trip.
                </blockquote>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
