

    <div class="team wrapper-grey">
      <h2 class ="text-center">La belle équipe</h2>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <figure class="player">
              <img src="http://res.cloudinary.com/dflt5cwj2/image/upload/c_crop,g_face,h_393,w_393/v1489761435/alex_sqyiyg.jpg" alt="profile-sample3" class="profile" />
              <figcaption>
                <h4>Alexandre Cavalié</h4>
                <p>Founder</p>
                <blockquote>
                  Alexandre est un passionné de sport (rugby, pelote basque, tennis) et de whisky. L’un permettant d’« éliminer » l’autre, ces deux passions sont finalement plus que compatibles. A condition de les pratiquer séparément, bien entendu.<br>De 2013 à 2016 il travaille chez Grant Thornton, cabinet d’audit et de conseil. L’idée de l’entrepreneuriat lui trotte dans la tête depuis un petit moment déjà et pendant sa dernière année, il décide en parallèle d’organiser des soirées dégustation afin de pouvoir faire découvrir sa passion au plus grand nombre. (À la ligne). Avide de challenges et d’aventures humaines, il compte monter courant 2017 sa première affaire : Spirit's Trip. Une aventure qui démarre par trois mois en Écosse, pays du whisky dans le but d’approfondir un maximum ses connaissances et son réseau.
                </blockquote>
              </figcaption>
            </figure>
          </div>
          <div class="col-xs-12 col-sm-6">
            <figure class="player"><img src="http://res.cloudinary.com/dflt5cwj2/image/upload/c_crop,g_face,h_1500,w_1500/v1489678925/BOSSE_Hugo_HLS0377-originale_1_f5slop.jpg" alt="profile-sample5" class="profile" />
              <figcaption>
                <h4>Hugo Bosse</h4>
                <p>Co-founder</p>
                <blockquote>
                  Hugo est un entrepreneur né. Ce touche à tout a participé avec brio à la montée en flèche de Foodora, startup spécialisée dans la livraison de plat à domicile.<br>Aventurier à ses heures perdues, en 2015  il traverse l’atlantique en voilier puis revient en France pour faire l'assencion du Mt Blanc. Mais pour son amour de la France, de ses digestifs et de sa gastronomie il reviendra sur ses terres afin de développer plusieurs idées dont Spirit’s Trip.
                </blockquote>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>


  <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false">
  </script>

  <script type="text/javascript">
    require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us15.list-manage.com","uuid":"840245fab053d98e5fd3d3c74","lid":"e4f8583d10"}) })
  </script>
