

    <div class="team wrapper-grey">
      <h2 class ="text-center">La belle équipe</h2>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <figure class="player">
              <img src="http://res.cloudinary.com/dflt5cwj2/image/upload/c_crop,g_face,h_393,w_393/v1489761435/alex_sqyiyg.jpg" alt="profile-sample3" class="profile" />
              <figcaption>
                <h4>Alexandre Cavalié</h4>
                <p>Founder</p>
                <blockquote>
                  Alexandre est un passionné de sport (rugby, pelote basque, tennis) et de whisky. L’un permettant d’« éliminer » l’autre, ces deux passions sont finalement plus que compatibles. A condition de les pratiquer séparément, bien entendu.
                  Pendant son cursus DSCG (Diplôme Supérieur de Comptabilité et Gestion) à la Toulouse Business School, Alexandre est apprenti chez Grant Thornton, cabinet d’audit et de conseil, ou il exerce à tour de rôle les postes d’auditeur et de collaborateur comptable sur une durée de 3 ans.<br>
                  <br>
                  En 2016, il approfondit sa culture des spiritueux en organisant des soirées dégustation dans la région toulousaine sur le thème « Accords Mets et Whisky ».<br>
                  <br>
                  Avide de challenges et d’aventures humaines, il compte monter courant 2017 sa première affaire : Spirit's Trip.
                </blockquote>
              </figcaption>
            </figure>
          </div>
          <div class="col-xs-12 col-sm-6">
            <figure class="player"><img src="http://res.cloudinary.com/dflt5cwj2/image/upload/c_crop,g_face,h_1500,w_1500/v1489678925/BOSSE_Hugo_HLS0377-originale_1_f5slop.jpg" alt="profile-sample5" class="profile" />
              <figcaption>
                <h4>Hugo Bosse</h4>
                <p>Co-founder</p>
                <blockquote>
                  Amateur en voie de devnir un expert comme les clients qu'il recherche.
                </blockquote>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
