.red-zone{
  background: $spirit;
  padding: 30px;
  color: white;
  display:flex;
  align-items: center;
  justify-content: space-around;
  .email {
    color: $coal
  }
}

.btn-bordered-gold{
  margin-left: 10px;
  margin-bottom: 15px;
  padding: 0 15px;
  border-radius: 4px;
  line-height: 30px;
  background-color: $spirit;
  color: white;
  font-size: 14px;
  border: 2px solid white !important;

}

.btn-bordered-gold:hover{
  background-color: $whisky;
  border: 2px solid $whisky !important;
  color: white;
}
