<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>Comment lire l’étiquette d’un whisky et en comprendre les moindres détails</title>

   <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/assets/application.css" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">


   <!-- Homepage CSS
   <link rel="stylesheet" href="/blog/css/screen.css" type="text/css" media="screen, projection" />
-->
</head>
<body>
  <header>
      <div class="navbar-spirits">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-spirits-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-spirits-right hidden-xs hidden-sm">

    <!-- Search form
    <form action="" class="navbar-spirits-search">
      <input type="text" class="navbar-spirits-search-input" placeholder="Search something">
      <button type="submit" class="navbar-spirits-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>
-->

    <%= link_to "Accueil", root_path, class: "navbar-spirits-item navbar-spirits-link" %>
    <%= link_to "Piliers", team_path, class: "navbar-spirits-item navbar-spirits-link" %>
    <%= link_to "Valeurs", concept_path, class: "navbar-spirits-item navbar-spirits-link" %>
    <%= link_to "Echoppe", "", {class: "navbar-spirits-item navbar-spirits-link", 'data-toggle' => "modal", 'data-target' => "#myModal" } %>
    <%= link_to "Abonnements", "", {class: "navbar-spirits-item navbar-spirits-link", 'data-toggle' => "modal", 'data-target' => "#myModal" }  %>
    <%= link_to "Dégustations", "", {class: "navbar-spirits-item navbar-spirits-link", 'data-toggle' => "modal", 'data-target' => "#myModal" }  %>
    <%= link_to "Blog", blog_path, class: "navbar-spirits-item navbar-spirits-link" %>
    <!-- <#%= link_to "", class: "badge-container navbar-wagon-item navbar-wagon-link" do %>
        <i class="fa fa-shopping-cart"></i>
    <#% end %>-->
    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- Notification -->
      <%= link_to "#", class: "navbar-spirits-item navbar-spirits-link" do %>
        <div class="badge-container">
          <i class="fa fa-envelope-o"></i>
          <div class="badge badge-blue">3</div>
        </div>
      <% end %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-spirits-item">
        <div class="dropdown">
          <%= image_tag "http://placehold.it/30x30", class: "avatar dropdown-toggle", id: "navbar-spirits-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-spirits-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <% else %>

      <!-- Login text link -->
      <!--
      <#%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-spirits-item navbar-spirits-button btn" %>
-->
    <% end %>
      <!-- Button (call-to-action)
    <%= link_to t(".top_call_to_action", default: "Post stuff"), "#", class: "navbar-spirits-item navbar-spirits-button btn" %>
  </div>
  -->
</div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-spirits-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-spirits-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

  </header>

  <div id="post">
<p>De nombreux détails apparaissent sur l’étiquette d’une bouteille. Que nous indiquent-ils ?</p>

<p>Le nom de la distillerie et la marque
La marque reprend souvent le nom de la distillerie, du moins pour les Single Malt (whisky provenant d’une seule et même distillerie). Pour ce qui est des Blends (whisky assemblé à partir de whiskies provenant de plusieurs distilleries), les embouteilleurs indépendants qui les commercialisent et dont le nom se retrouve souvent en guise de marque sur la bouteille, les assemblent après avoir acheté les fûts auprès des distilleries puis les avoir fait vieillir une dernière fois dans des fûts choisis avec soin pour créer des whiskies uniques.</p>

<p>Le type de fûts utilisés pour le vieillissement et la finition
Un whisky est par définition vieillit en fût de chêne pendant au moins trois ans.
Le Bourbon doit être vieilli en fût de chêne neuf. Il peut cependant être transvasé dans des fûts différents pour la finition (ou finish).
Le Scotch quant à lui peut être vieilli dans n’importe quel fût tant qu’il s’agit de chêne. Il faut tout de même savoir que plus de 90% des Scotch sont vieillis dans des fûts de seconde main, les principaux utilisés sont les ex fûts de Bourbon ou les fûts de Sherry (vin de Xéres).
Le fût de Sherry donnera au whisky une douceur reconnaissable tandis que le fût de Bourbon lui confèrera une profondeur aromatique importante.
S’ils représentent la majeure partie des fûts utilisés dans les processus de vieillissement et de finition, ils ne sont pas les seuls. Nous trouvons également entre autre l’utilisation de fûts de Porto, de Cognac, de vin sec ou de liquoreux. J’ai récemment entendu parler de professionnels qui cherchaient à faire vieillir leur spiritueux en fûts de cidre. La distillerie Dalmore célèbre en ce moment même le 50e anniversaire dans le monde du whisky de son Master Blender Richard Paterson en sortant un single malt de 50 ans, titrant 40° et ayant connu un finish en fût de champagne issu du Domaine Henri Giraud ! La bouteille vous intéresse ? Il faudra alors que vous déboursiez 50 000 € pour l’acquerir…</p>

<p>L’âge
Il est fréquemment inscrit sur la bouteille suivi de la mention « Years Old ». Le whisky ne continue pas de vieillir dans la bouteille, l’âge indique donc la durée de vieillissement en fût avant l’embouteillage.
La législation attenante au whisky précise que ce dernier n’est pas considéré comme tel avant d’avoir été vieilli trois ans et un jour en fût de chêne. On ne peut donc pas avoir de whisky de moins de trois ans.
Petite info qui a son importance : quand il s’agit d’un assemblage, l’âge indiqué sur l’étiquette fait référence au whisky le plus jeune contenu dans la bouteille.
Aussi l’embouteilleur indépendant Compass Box a osé sortir un impertinent « 3 Years Old Deluxe » comprenant moins d’1% de single malt écossais de 3 ans d’âge. Le reste de l’assemblage est constitué d’autres whiskies âgés de plus de 20 ans. En bref, un trois ans d’âge qui vaut le coup, mais qui coûte tout de même la bagatelle 250 €…</p>

<p>La région et le type de whisky</p>

<p>Le whisky est une boisson consommée dans le monde entier et nombreux sont les pays qui en produisent. Ils sont près d’une trentaine et chacun possède des caractéristiques et un profil aromatique propre. Cela vaut la peine de tous les tester si vous voulez savoir ce que vous préférez !
L’Écosse, LE pays du whisky possède quant à elle quatre régions productrices. Les Lowlands représentent la région située au sud du pays. Vient au dessus la région des Highlands, vaste région intérieure qui entoure la région du Speyside qui regroupe la majeure partie des distilleries. On y retrouve des noms comme Aberlour, Glenfiddich ou encore Strathisla, cette magnifique distillerie qui produit des Single Malt de qualité mais qui fournit également le whisky d’assemblage (Blend) Chivas Regal. Les iles (Islay, Skye et les Orcades), souvent liées au Highlands tentent de se détacher.</p>

<p>La puissance alcoolique</p>

<p>Celle-ci est exprimée en pourcentage. Ce pourcentage représente le volume d’éthanol par rapport au volume d’eau contenu dans le whisky à la température de 20°C. Les anglo-saxons exprime la puissance alcoolique en ABV (alcohol by volume).
Un ABV de 40% (puissance alcoolique la plus représenté dans le whisky) signifie que le liquide contenu dans la bouteille est constitué à 40% d’éthanol et à 60% d’eau, bien que l’on trouve aussi d’autres éléments qui donnent au breuvage son goût et ses arômes.
A la sortie de l’alambic, le distillat titre entre 70 et 75%. Ensuite, pendant la mise en fût une partie du whisky se volatilise faisant baisser non seulement le volume (env. 2% par an) mais également le titrage. On appelle cette « évaporation » : « La Part des Anges ».
Le whisky est ensuite mis en bouteille soit à la force du fût (Cask Strengh), son titrage est alors compris entre 58 et 65%, soit après dilution avec un peu d’eau de source pour faire descendre le titrage à minimum 40%.</p>

<p>La taille de la bouteille
Au sein de l’Union Européenne le volume d’une bouteille standard est de 70cl depuis une directive datant de 1992. Aux États-Unis, elle il est de 75cl. Il faut toujours que ce soit « plus grand » là-bas…</p>

<p>Le Master Blender ou le Master Distiller</p>

<p>C’est la personne responsable de la confection du whisky que vous vous apprêtez de boire, qu’il s’agisse d’un Single Malt ou d’un Blend.</p>

<p>Le numéro du fût ou la sélection de petits lots de fûts sélectionnés
Certain whisky premium, souvent « Cask Strengh » sont sélectionnés à partir d’un seul fût choisi avec soin. On retrouve alors sur la bouteille la mention « Cask n°… »
Quand il s’agit un petit lot de fûts choisi avec soin on retrouvera la mention « Small Batch ».</p>

<p>L’absence de filtration à froid : « Unchillfiltered » ou « Non-chill filtered »
Cette mention indique l’absence de filtration du whisky entre la sortie du fût et la mise en bouteille. La suppréssion de cette étape permet de garder le maximum d’arôme. L’aspect d’un whisky « Unchillfiltered » peut être parfois flou, tels les whisky de la gamme Very Cloudy mise en bouteille par l’embouteilleur indépendant Signatory Vintage. S’il ne l’est pas, l’adjonction d’une ou deux gouttes d’eau dans votre verre pourront faire apparaitre ce côté laiteux. Si le visuel est surprenant, c’est plutôt un gage de qualité !</p>

</div>



  <span>
        <!-- Personal Info. -->
      <p>Written by <a href="https://twitter.com/alexcavalie" target="_blank">Alexandre Cavalié</a> </p>
  </span>

<div class="tags">
  
    <p>whisky</p>
  
    <p>whiskypedia</p>
  
    <p>degustation</p>
  
</div>

<div id="related">
  <h2>Related Posts</h2>
  <ul class="posts">
    
      <li><span>14 Mar 2017</span> &raquo; <a href="/blog/strathearn-la-plus-petite-distillerie-ecossaise.html">Strathearn, ou la plus petite distillerie écossaise !</a></li>
    
      <li><span>22 Feb 2017</span> &raquo; <a href="/blog/faites-vous-plaisir-avec-le-whisky.html">Le but principal est de vous faire plaisir, MAIS… </a></li>
    
      <li><span>09 Jan 2017</span> &raquo; <a href="/blog/anecdotes-surprenantes-sur-le-gin.html">Quelques anecdotes surprenantes sur... le gin !</a></li>
    
  </ul>
</div>


<footer>
   <div id="footer">
      <ul class="list-inline">
        <li><a href=""><i class="fa fa-youtube"></i></a></li>
        <li><a href="https://www.instagram.com/spirits_trip/"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://www.facebook.com/spiritstrip/"><i class="fa fa-facebook"></i></a></li>
        <li><a href=""><i class="fa fa-twitter"></i></a></li>
      </ul>
      <p>Grâce à Spiit's trip apprenez à déguster les spiritueux entre amis</p>
    </div>

</footer>

<!-- Google Analytics -->

<!-- Google Analytics end -->

</body>
</html>
