

<div class="banner" style="background: linear-gradient(-225deg, rgba(56,59,61,0.6) 0%, rgba(56, 59, 61,0.6) 75%), url(https://res.cloudinary.com/dflt5cwj2/image/upload/v1494860832/whisky-home-bg_dcadim.jpg);">
  <div class="banner-content text-center">
    <h1>Comment vous faire passer pour un fin connaisseur de malt</h1>
    <div class="blog-card-tag">
      
          <a>whisky</a>
      
          <a>astuce</a>
      
          <a>whiskypedia</a>
      
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div id="post">
        <blockquote><p>Dans le dernier article nous vous expliquions, avec humour, quelles étaient les questions à ne pas poser pour éviter de passer pour un blanc-bec du whisky. Pour compléter ces premiers conseils et bien commencer la nouvelle année, nous vous donnons quelques pistes afin que vous puissiez « faire genre » au sein d’une conversation entre « vieux routiers du malt »…</p></blockquote>

<p><img src="/https://res.cloudinary.com/spirit-s-trip/image/upload/c_scale,h_500/v1497545114/e%CC%81tage%CC%80re_a%CC%80_whisky_gps7is.jpg" alt="whisky étagère à whisky" /></p>

<h3>Voici comment commander un Whisky</h3>

<p>Premièrement commandez le sec. C'est-à-dire sans glace. Bien que de nombreux consommateurs aiment ajouter un gros cube de glace dans leur breuvage, pour les gens du métier cette pratique est considérée comme un véritable sacrilège qui n’a pour seul effet de ternir les arômes de ce que vous buvez.</p>

<p>Ah oui, faites également en sorte, c’est la moindre des choses, de maitriser la différence entre un Single Malt et un Blend. Pour la faire courte, un Single malt est un whisky d’orge maltée, distillé dans une seule et même distillerie, un Blend quant à lui est un assemblage de plusieurs whiskies provenant de distilleries différentes.</p>

<h3>Poser des questions intelligentes</h3>

<p>Si vous voulez un peu vous mouiller, vous pouvez commencer par poser des questions. Cela vous donnera l'air intéressé tout en vous permettant de commencer une conversation où vous pourrez en apprendre davantage.
Avant cette phase, regardez l’article du mois dernier pour éviter les questions stupides.</p>

<p>Deux expressions clefs sont à connaitre dans une telle situation : maturation et finition</p>

<p>La maturation correspond au temps que le Whisky passe dans le tonneau, interagissant avec le bois lui extirpant saveurs et arômes.</p>

<p>La finition consiste, une fois la maturation terminée, à transvaser le whisky dans un autre fût, afin de cumuler différentes saveurs.</p>

<h3>Ne buvez pas votre whisky bêtement et simplement. Admirez le, Sentez le, ressentez le, sirotez le, faites le tourner ...</h3>

<p>Maintenant, quand le barman vous tend le verre, ne le buvez pas cul-sec. Profitez-en ! Considérez pleinement ce que vous êtes en train de boire.
Richard Patterson, célèbre Master Blender de la distillerie Dalmore, vous montre comment faire dans cette vidéo et il n’exagère pas du tout…</p>

<iframe class= "text-center" width="560" height="315" src="https://www.youtube.com/embed/YVG1U-faqHY" frameborder="0" allowfullscreen></iframe>


<p>Au moment ou vous vous apprêtez à plonger le nez dans votre verre, comme un pro, suivez ces quelques conseils :
placez-vous à l’aplomb du verre, à une vingtaine de centimètres puis rapprochez votre nez lentement pour ne pas bruler votre odorat. Incliner alors votre verre pour sentir les différentes strates, le whisky étant un alcool extrêmement volatil vous allez pouvoir sentir différentes « couches » d’arôme verticalement.
Entre deux coups de nez, n’hésitez pas à faire tourner légèrement votre whisky pour en admirer les jambes redescendant en cascades lentes et gracieuses. Elles traduisent la teneur en alcool de votre whisky.
Puis plongez sans vergogne votre nez à l’intérieur du verre pour percevoir les arômes les plus profonds. Et quand je vous dis de plonger le nez dedans, ce n’est pas au sens figuré. Lors de la dégustation, les professionnels ne font pas les choses à moitié!</p>

<h3>Mais que devez-vous exactement sentir dans votre whisky?</h3>

<p>Distinguer les odeurs et les goûts lors d’une dégustation est certainement la chose la plus difficile à apprendre quand on entame l’initiation. Il faut des années aux Master Blender pour apprendre l'art de la dégustation. Soyez vous aussi patient, et surtout, continuez de pratiquer.</p>

<p>N’ayez cependant pas peur de dire ce que vous ressentez. Commencez par les grandes saveurs. Si vous sentez la tourbe, dites la tourbe, si vous sentez le malt, dites le malt. Ne soyez pas trop rapide pour essayer d'impressionner les gens, soyez juste honnête.</p>

<p>Maintenant, si vous voulez construire autour de cela, analysez profondément ce que vous sentez.
Cela vous rappelle-t-il quelque chose?
Le système olfactif travaille souvent de paire avec la mémoire. Tentez alors de mettre des mots sur les souvenirs qui vous viennent à l’esprit lors de vos différentes inhalations.
Par exemple, si vous vous souvenez des journées d'été de votre enfance, vous pourriez sentir l'herbe fraichement coupée, des notes florales ou encore boisées.
Si vous pensez à une journée à la plage, vous êtes probablement sur des odeurs marines ou salines, de saumure, d’algue et de beaucoup d'autres odeurs qui vont de paire avec ces dernières.</p>

<p>Alors réfléchissez bien à ce à quoi vous fait penser l'odeur, ainsi, vous pourrez tomber juste !</p>

<h3>Les odeurs sont trop difficiles à cerner? Ecoutez ce que vous dit votre bouche.</h3>

<p>Petit nous nous sommes attardés sur les couleurs lors de nos premières années scolaires. Ainsi nous distinguons le bleu marine du bleu roi et du cyan. Certain ont appris la musique et distinguent facilement un La mineur d’un Sol dièse. Il en va de même pour les odeurs et les goûts : cela s’apprend.  Et ce n’est qu’en s’entrainant et en approfondissant que vous parviendrez à faire des différences de plus en plus subtiles sur ce que vous sentez et ce que vous goutez.</p>

<p>La bouche est la complice du nez. Elle va nous permettre de confirmer (ou de démentir) ce qu’on à senti. Elle va également nous permettre d’aller plus loin, de ressentir des choses que notre nez n’été pas en mesure de ressentir. C’est pourquoi il faut garder le spiritueux en bouche un bon moment. Vous avez toujours l’impression que les professionnels en font trop, mais essayez à votre tour, n’ayez pas honte et vous verrez.</p>

<p>Votre bouche vous dira des choses, et ce que le whisky soit encore à l’intérieur ou que vous l’ayez avalé (on appelle cette seconde phase « la finale »).
Est-ce soyeux, sec, fort, doux? Cela chauffe t’il la gorge ? Et par rapport à un autre ?
Quoi que vous ressentiez, décrivez-le. C'est une excellente façon de construire vos connaissances en termes de goût et de montrer que vous considérez pleinement ce que vous êtes en train de boire.</p>

<p>La meilleure nouvelle dans tout ça ? Après avoir lu ceci, vous avez déjà fait un pas de plus pour devenir un fin connaisseur de whisky.</p>

<p>Un dernier conseil, profitez du voyage que vous procure chaque dégustation !</p>

<h3>Sláinte !</h3>

<h3>Spirit's Trip</h3>

      </div>
      <span class="blog-card-title">
          <h4> Rédigé par <a href="https://twitter.com/alexcavalie" target="_blank">Alexandre Cavalié</a> le 03 Jan 2017</h4>
      </span>
    </div>
  </div>
</div>

<div class="container">

<div class="related">
  <h2>Un peu plus de lecture ?</h2>
  <div class="row">
  
    <div class="col-xs-12 col-sm-4">
      <div class="blog-card" style="background: linear-gradient(rgba(56,59,61,0.7), rgba(56,59,61,0.7)), url(https://res.cloudinary.com/spirit-s-trip/image/upload/c_scale,w_1500/v1490705500/IMG_1690_dm9u5e.jpg);">
        <div class="blog-card-title">
          <h2>Strathearn, ou la plus petite distillerie écossaise !</h2>
          <p class="author" >Par <a href="https://www.facebook.com/spiritstrip/">Spirit's Trip</a> 14 Mar 2017</p>
        </div>
          <a class="card-link" href="/blog/strathearn-la-plus-petite-distillerie-ecossaise" ></a>
      </div>
    </div>
  
    <div class="col-xs-12 col-sm-4">
      <div class="blog-card" style="background: linear-gradient(rgba(56,59,61,0.7), rgba(56,59,61,0.7)), url(https://res.cloudinary.com/dflt5cwj2/image/upload/v1490217103/cigar-whisky_x5eyk1.jpg);">
        <div class="blog-card-title">
          <h2>Le but principal est de vous faire plaisir, MAIS… </h2>
          <p class="author" >Par <a href="https://www.facebook.com/spiritstrip/">Spirit's Trip</a> 22 Feb 2017</p>
        </div>
          <a class="card-link" href="/blog/faites-vous-plaisir-avec-le-whisky" ></a>
      </div>
    </div>
  
    <div class="col-xs-12 col-sm-4">
      <div class="blog-card" style="background: linear-gradient(rgba(56,59,61,0.7), rgba(56,59,61,0.7)), url(https://res.cloudinary.com/dflt5cwj2/image/upload/v1490217106/whisky-label_lsfthz.jpg);">
        <div class="blog-card-title">
          <h2>Comment lire l’étiquette d’un whisky et en comprendre les moindres détails</h2>
          <p class="author" >Par <a href="https://www.facebook.com/spiritstrip/">Spirit's Trip</a> 27 Jan 2017</p>
        </div>
          <a class="card-link" href="/blog/comment-lire-une-etiquette-de-whisky" ></a>
      </div>
    </div>
  
  </div>
  </div>
</div>
